@font-face {
  font-family: 'NotoRegular';
  font-style: normal;
  src: url('../../../fonts/NotoSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'NotoBold';
  font-style: normal;
  src: url('../../../fonts/NotoSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  src: url('../../../fonts/RubikDistressed-Regular.ttf') format('truetype');
}
