.slider1 {
  width: 800px;
  height: 450px;
  margin-top: 50px;
  margin: auto;
  position: relative;
  overflow: hidden;
  img {
    //aspect-ratio: 4/3;
    object-fit: cover;
  }
  &__navigation {
    margin: 50px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    button {
      margin: 0 10px;
      background: none;
      border: none;
      font-family: var(--f-secondary);
      cursor: pointer;
      padding: 12px 24px;
      color: var(--c-white);
      font-size: 1.2em;
      text-transform: uppercase;
    }
    .next {
      background-color: var(--c-color-0);
      border: 2px solid var(--c-black-20);
      //border-radius: 30px;
      box-shadow: var(--c-color-0) 5px 5px 0px;
      color: var(--c-black-20);
      cursor: pointer;
      display: inline-block;
      font-weight: 600;
      font-size: 18px;
      padding: 0 18px;
      line-height: 50px;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      &:after {
        content: '>';
        padding: 0px 5px;
      }
    }

    .next:hover {
      background-color: #fff;
    }

    .next:active {
      box-shadow: var(--c-black-20) 2px 2px 0 0;
      transform: translate(2px, 2px);
    }

    .previous {
      background-color: var(--c-color-1);
      border: 2px solid var(--c-black-20);
      box-shadow: var(--c-color-1) 5px 5px 0px;
      color: var(--c-black-20);
      cursor: pointer;
      display: inline-block;
      font-weight: 600;
      font-size: 18px;
      padding: 0 18px;
      line-height: 50px;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      &:before {
        content: '<';
        padding: 0px 5px;
      }
    }

    .previous:hover {
      background-color: #fff;
    }

    .previous:active {
      box-shadow: var(--c-black-20) 2px 2px 0 0;
      transform: translate(2px, 2px);
    }
  }
}

.slide {
  position: absolute;
  transition: 1s;
}

/*
.slider {
  &__images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    img {
      max-height: 400px;
      max-width: 500px;
      aspect-ratio: 16/9;
      object-fit: cover;
    }
  }

  &__navigation,
  &__autoplay {
    margin: 80px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    input {
      accent-color: var(--c-color-2);
      width: 20px;
      height: 20px;
    }
    label {
      background: none;
      border: none;
      font-family: var(--f-secondary);
      cursor: pointer;
      padding: 12px 24px;
      color: var(--c-color-8);
      font-size: 1.2em;
      text-transform: uppercase;
    }
    button {
      margin: 0 10px;
      background: none;
      border: none;
      font-family: var(--f-secondary);
      cursor: pointer;
      padding: 12px 24px;
      color: var(--c-white);
      font-size: 1.2em;
      text-transform: uppercase;
    }
    .next {
      background-color: var(--c-color-2);
      border: 1px solid var(--c-black-20);
      box-shadow: 5px 5px 0px 1px var(--c-color-8);
      &::after {
        content: '>';
        padding: 0px 5px;
      }
      &:hover {
        background-color: var(--c-color-8);
        border: 1px solid var(--c-black-20);
        box-shadow: -5px 5px 0px 1px var(--c-color-2);
      }
    }
    .previous {
      background-color: var(--c-color-8);
      border: 1px solid var(--c-black-20);
      box-shadow: -5px 5px 0px 1px var(--c-color-2);
      &::before {
        content: '<';
        padding: 0px 5px;
      }
      &:hover {
        background-color: var(--c-color-2);
        box-shadow: 5px 5px 0px 1px var(--c-color-8);
      }
    }
  }
}
*/
